---
import NavLayout from "../layouts/NavLayout.astro";
import { addPost } from "../trpc/client";
import type { IPost } from "../trpc/types";

let error = "";
let msg = "";
let form: Partial<IPost> = {};
    
if (Astro.request.method == "POST") {
    const data = await Astro.request.formData();
    let valid = true;
    const payload = Object.fromEntries(data) as unknown as IPost;
    if (!payload.word.trim()) {
        error = "You must fill out the word field!";
        valid = false;
    }
    if (!payload.definition.trim()) {
        error = "You must fill out the definition field!";
        valid = false;
    }
    if (valid) {
        const res = await addPost(payload);
        msg = res.msg;
        form = res.post;
    }
}
---

<NavLayout title="Add your word on Urban Dict">
    <h1 class="text-4xl text-center">Add a Word!</h1>
    {
        error && (
            <p class="w-fit text-center md:px-3 py-2 mx-auto my-2 text-lg text-red-500 bg-red-200 border-2 border-red-700 rounded-md">
                {error}
            </p>
        )
    }
    {
        msg && (
            <p class="w-fit text-center md:px-3 py-2 mx-auto my-2 text-lg text-green-500 bg-green-200 border-2 border-green-700 rounded-md">
                {msg}
            </p>
        )
    }
    <form method="post" class="md:w-2/3 md:mx-auto flex flex-col gap-2 mx-3">
        <label for="word">Word:</label>
        <input
            value={form.word}
            class="h-9 bg-gray-200"
            type="text"
            name="word"
            required
        />

        <label for="definition">Definition:</label>
        <textarea class="h-32 bg-gray-200" name="definition" required
            >{form.definition}</textarea
        >

        <label for="example">Example using the word (optional):</label>
        <textarea class="h-24 bg-gray-200" name="example"
            >{form.example}</textarea
        >

        <label for="authorName">Your name (optional):</label>
        <input
            value={form.authorName}
            class="h-9 bg-gray-200"
            type="text"
            name="authorName"
        />

        <button
            class="self-end px-3 py-2 text-white bg-blue-600 rounded-md"
            type="submit">Submit your word!</button
        >
    </form>
</NavLayout>
